<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Star Breach Warband Builder</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <p>
        Welcome to the totally unofficial Star Breach Warband creator!
    </p>

    <table>
        <tr th:each="faction, iStat: ${factions}" 
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${faction.name}" />
            <td th:text="${faction.text}" />
        </tr>
    </table>
</body>

</html>