<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Star Breach Warband Builder</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <div th:insert="~{header :: header}"/>

    <p th:text="|Welcome to the totally unofficial Star Breach Warband creator!|" />

    <div th:insert="~{factionSelector :: factionSelector}"/>

    <div th:insert="~{footer :: copy}"/>
</body>

</html>